    $color:rgb(7, 85, 90);
    %Titre {
        font-family: sans-serif;
        font-size: 22px;
        font-weight: bold;
        border: 1px solid black;
        padding: 20px;
        margin: 20px;
    }
    
    .Training {
        ul,
        {
            li,
            {
                color: $color;
            }
        }
        .ocr {
            @extend %Titre;
            background-color: rgb(204, 159, 159);
        }
        .cert {
            @extend %Titre;
            background-color: rgb(140, 140, 197);
        }
        .train {
            @extend %Titre;
            background-color: rgb(138, 190, 138);
        }
        p {
            color: $color;
        }
    }